<!-- <div class="container-fluid contact-cover py-5">
  <div class="container py-2">
      <div class="row">
        <div class="content">
          <h2>A Friendly Reminder,</h2>
          <p>You're working too much. Grab your family/friends and go camping.<br />It's nice outside. Even when it's not, it is.</p>
          <p>Your Friend,<br />@JiveDig</p>
        </div>
      </div>
  </div>
</div> -->
<div class="container-fluid contact-cover">
  <h1>Contact Us</h1>
  <p>We’re here to assist you with any questions or inquiries.</p>
  <div class="button-container">
    <button>Get in Touch</button>
    <button>Learn More</button>
  </div>
</div>
