
.fixed-top {
  transition: .5s;
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\F124";
    font-family: "bootstrap-icons";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 3px;
}

.navbar .navbar-nav .nav-link {
    padding: 25px 15px;
    color: var(--dark);
    font-weight: 500;
    outline: none;
    cursor: pointer;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav {
        margin-top: 10px;
        border-top: 1px solid rgba(0, 0, 0, .07);
        background: #FFFFFF;
    }

    .navbar .navbar-nav .nav-link {
        padding: 10px 0;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        visibility: hidden;
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        transition: .5s;
        opacity: 0;
    }

    .navbar .nav-item:hover .dropdown-menu {
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}

.header .dropdown-menu>li>a {
  position: relative;
}

.header .dropdown-toggle:after {
  display: none;
}

.header .has-arrow .dropdown-toggle:after {
  border-top: 0;
  border-left: 0;
  border-bottom: 2px solid var(--bs-text-light-color);
  border-right: 2px solid var(--bs-text-light-color);
  content: '';
  height: 8px;
  display: inline-block;
  pointer-events: none;
  -webkit-transform-origin: 66% 66%;
  -transform-origin: 66% 66%;
  transform-origin: 66% 66%;
  -webkit-transform: rotate(45deg);
  -transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .15s ease-in-out;
  width: 8px;
  vertical-align: 2px;
}

.header .has-arrow .dropdown-toggle[aria-expanded=true]:after {
  -webkit-transform: rotate(-135deg);
  -transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.user-menu {
  float: right;
  padding-right: 20px;
  margin: 0;
  position: relative;
  z-index: 99;
  display: flex !important;
}

.header[dir='ltr'] .user-menu {
  float: right;
  padding-right: 20px;
}

.header[dir='rtl'] .user-menu {
  float: left;
  padding-left: 20px;
}

.user-menu.nav>li>a {
  color: var(--bs-text-light-color);
  font-size: 14px;
  line-height: 50px;
  /* padding: 0 5px; */
  height: 60px;
}
.nav-tabs , .nav-tabs .nav-link:hover , .nav-tabs .nav-link{
  border: none !important;
  cursor: pointer;
}

.user-img {
  display: inline-block;
  margin-right: 3px;
  position: relative;
}

.user-img img {
  width: 32px;
  border-radius: 50%
}

.user-menu .dropdown-menu {
  min-width: 200px;
  padding: 0;
}

.user-menu .dropdown-menu .dropdown-item {
  display: flex;
  align-items: center;
  padding: 10px 15px;

}

.user-menu .dropdown-menu .dropdown-item:hover {
  background-color: var(--bs-primary);
  color: #fff;
}

/*** Header ***/
