<div class="container-xxl">
    <div class="container  pt-5">
      <div class="row g-4 align-items-center mb-4">
        <div class="text-center py-3">
          <h3 class="d-inline-block border rounded text-primary fw-semi-bold py-1 px-3">{{"Contact_Us" | translate}}</h3>
        </div>
        <div class="col-lg-6">

          <app-contact-us-form></app-contact-us-form>
        </div>
        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
          <div class="position-relative rounded overflow-hidden h-100">
            <img [src]="'assets/images/img/business-agreement.svg'"
            loading="lazy"
             class="w-100" alt="" srcset="">

          </div>
        </div>
      </div>

    </div>
  </div>
