<section class="container-xxl" id="Service">
 <div class="container">
  <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px; visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
      <p class="d-inline-block border rounded text-primary fw-semi-bold py-1 px-3">{{'Our_Services' | translate}}</p>
      <h1 class="display-6 mb-5">{{'service_sub' | translate}}</h1>
  </div>
  <div class="row g-5 align-items-center wow fadeInUp py-2" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;"
        *ngFor="let service of servicesList;let i=index"   [attr.data-index]="i">
      <ng-container *ngIf="i%2==0" class="d-flex">

     <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
      <h3 class="mb-4">{{service.heading | translate}}</h3>
      <h5 class="mb-2">{{service.subHeading | translate}}</h5>
      <p class="mb-4">
        {{service.description | translate}}
      </p>


     </div>
     <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
      <div class="image-container">
       <img [src]="service.image"
       loading="lazy"

       class="img-fluid  rounded service-img  mb-3 mb-md-0 p-3">
      </div>
    </div>
      </ng-container>
      <ng-container *ngIf="i%2!=0" class="d-flex">
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
       <div class="image-container">
        <img [src]="service.image"
        loading="lazy"

        class="img-fluid  rounded service-img  mb-3 mb-md-0 p-3">
       </div>
     </div>
     <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
      <h3 class="mb-4">{{service.heading | translate}}</h3>
      <h5 class="mb-2">{{service.subHeading | translate}}</h5>
      <p class="mb-4">
        {{service.description | translate}}
      </p>


     </div>

      </ng-container>
  </div>
</div>
</section>
