/*** Facts ***/
.facts {

  // background: linear-gradient(to right top, #2876db, #5b70d2, #786ac8, #8c65bc, #9b60b0),
  background-image:url('/assets/images/bk/bg.png'), linear-gradient(to right top, #2876db, #5b70d2, #786ac8, #8c65bc, #9b60b0);
  // src\assets\images\bg\bk.svg
  // opacity: 0.3;
  background-size: auto;
  width: 100%;




}
