<section class="contact-us mt-4">

  <div class="container-xxl service py-4">
    <div class="container">

      <div class="row g-4 wow fadeInUp justify-content-center align-items-center" data-wow-delay="0.3s">
        <div class="text-center">
          <h3 class="d-inline-block border rounded text-primary fw-semi-bold py-2 px-3">{{ 'Contact Us' | translate }}</h3>
        </div>
        <div class="col-lg-6 col-sm-6 col-12  wow fadeIn" data-wow-delay="0.2s">

          <div class=" contact-info">
   <div class="contact-text">
              <a class="my-2 d-flex align-items-baseline">
                <i class="bi bi-geo-alt-fill fa-flip-horizontal text-right px-2"></i>
                <div class="text-adaptive">
                 {{'Address_loc' | translate}}</div>
              </a>
              <a class="my-2 d-flex align-items-baseline">
                <i class="bi bi-building fa-flip-horizontal text-right px-2"></i>
                <div class="text-adaptive">
                  {{'Working_Time' | translate}}
                  </div>
              </a>
              <a class="my-2 d-flex align-items-baseline">
                <i class="bi bi-calendar-event fa-flip-horizontal text-right px-2"></i>
                <div class="text-adaptive">{{ 'closing_Time' | translate }}</div>
              </a>
              <a class="my-2 d-flex align-items-baseline">
                <i class="bi bi-telephone fa-flip-horizontal text-right px-2"></i>
                <div class="text-adaptive">+{{'20 2 2735 1333' | translate }}
                </div>
              </a>
              <a  href="https://wa.me/201225546885" target="_blank" class="my-2 d-flex align-items-baseline">
                <i class="bi bi-chat-right-text
                       fa-flip-horizontal text-right px-2"></i>
                <div class="text-adaptive">+{{'20 2 2735 1333' | translate }}
                </div>
              </a>
              <a href="mailto:sales@abydosstone.com" target="_blank" class="my-2 d-flex align-items-baseline">
                <i class="bi bi-envelope px-2"></i>
                <div class="text-adaptive">sales@abydosstone.com</div>
              </a>

            </div>
          </div>
        </div>
        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
          <app-contact-us-form></app-contact-us-form>
        </div>

      </div>

    </div>
  </div>
  <app-cover-contact></app-cover-contact>

  <!-- Service End -->

</section>
