<div class="col-lg-12 wow fadeInUp" data-wow-delay="0.1s">
<div class="container-xxl service py-5">
  <div class="container">
      <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
          <p class="d-inline-block border rounded text-primary fw-semi-bold py-1 px-3">{{'Abydos Stone Team' | translate}}
          </p>

        </div>
        <div class="row g-4 wow fadeInUp justify-content-center align-items-center" data-wow-delay="0.3s">

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
            <div class="team-item">
                <div class="overflow-hidden position-relative">
                    <img class="img-fluid" src="assets/images/teams/team-1.jpg" alt="">
                    <div class="team-social">
                        <a class="btn btn-square" href=""><i class="bi bi-facebook"></i></a>
                        <a class="btn btn-square" href=""><i class="bi bi-twitter"></i></a>
                        <a class="btn btn-square" href=""><i class="bi bi-instagram"></i></a>
                    </div>
                </div>
                <div class="text-center border border-5 border-light border-top-0 p-4">
                    <h5 class="mb-0">Tawfik Samir</h5>
                    <small>Executive Secretary</small>
                </div>
            </div>
        </div>
          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
            <div class="team-item">
                <div class="overflow-hidden position-relative">
                    <img class="img-fluid" src="assets/images/teams/team-1.jpg" alt="">
                    <div class="team-social">
                        <a class="btn btn-square" href=""><i class="bi bi-facebook"></i></a>
                        <a class="btn btn-square" href=""><i class="bi bi-twitter"></i></a>
                        <a class="btn btn-square" href=""><i class="bi bi-instagram"></i></a>
                    </div>
                </div>
                <div class="text-center border border-5 border-light border-top-0 p-4">
                    <h5 class="mb-0">Tawfik Samir</h5>
                    <small>Executive Secretary</small>
                </div>
            </div>
        </div>
          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
            <div class="team-item">
                <div class="overflow-hidden position-relative">
                    <img class="img-fluid" src="assets/images/teams/team-1.jpg" alt="">
                    <div class="team-social">
                        <a class="btn btn-square" href=""><i class="bi bi-facebook"></i></a>
                        <a class="btn btn-square" href=""><i class="bi bi-twitter"></i></a>
                        <a class="btn btn-square" href=""><i class="bi bi-instagram"></i></a>
                    </div>
                </div>
                <div class="text-center border border-5 border-light border-top-0 p-4">
                    <h5 class="mb-0">Tawfik Samir</h5>
                    <small>Executive Secretary</small>
                </div>
            </div>
        </div>
          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
            <div class="team-item">
                <div class="overflow-hidden position-relative">
                    <img class="img-fluid" src="assets/images/teams/team-1.jpg" alt="">
                    <div class="team-social">
                        <a class="btn btn-square" href=""><i class="bi bi-facebook"></i></a>
                        <a class="btn btn-square" href=""><i class="bi bi-twitter"></i></a>
                        <a class="btn btn-square" href=""><i class="bi bi-instagram"></i></a>
                    </div>
                </div>
                <div class="text-center border border-5 border-light border-top-0 p-4">
                    <h5 class="mb-0">Tawfik Samir</h5>
                    <small>Executive Secretary</small>
                </div>
            </div>
        </div>

  </div>
</div>
</div>
