// Pulse 5.3.2
// Bootswatch

$theme: "pulse" !default;

//
// Color system
//
// $font-family-sans-serif: "Inter", "Helvetica Neue", Arial, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
// $font-weight-light: 300 !default;
// $font-weight-normal: 400 !default;
// $font-weight-bold: 600 !default;
// $font-size-base: .875rem !default;
// $font-size-lg: .925rem !default;
// $font-size-sm: .75rem !default;
// $small-font-size: 80% !default;

$white: #fff !default;
$gray-100: #fafafa !default;
$gray-200: #f9f8fc !default;
$gray-300: #ededed !default;
$gray-400: #cbc8d0 !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #656565 !default;
$gray-800: #383838 !default;
$gray-900: #313131 !default;
$black: #000 !default;

$blue: #2876db !default;
$indigo: #6610f2 !default;
$purple: #593196 !default;
$pink: #d24364 !default;
$red: #950036 !default;
$orange: #fd7e14 !default;
$yellow: #cda715 !default;
$green: #13b955 !default;
$teal: #20c997 !default;
$cyan: #ffefca !default;

$primary: $blue !default;
$secondary: $purple!default;
$success: #24640C !default;
$info: #847655 !default;
$warning: #F3DB9B !default;
$danger: #64270C !default;
$light: #a6abbd !default;
$dark: #424656 !default;

$min-contrast-ratio: 2.1 !default;


// Options

$enable-rounded: false !default;

// Body

$body-color: $gray-700 !default;

// Links

$link-hover-color: $primary !default;

// Tables

$table-border-color: rgba(0, 0, 0, .05) !default;

// Forms

$input-focus-border-color: $primary !default;

// Dropdowns

$dropdown-link-color: $gray-700 !default;
$dropdown-link-hover-color: $white !default;
$dropdown-link-hover-bg: $primary !default;

// Navs

$nav-tabs-border-color: $gray-300 !default;
$nav-tabs-link-hover-border-color: $primary !default;

// Navbar

$navbar-padding-y: 1.2rem !default;

// Progress bars

$progress-bg: $gray-300 !default;
$progress-bar-bg: $primary !default;

// List group

$list-group-color: $body-color !default;
$list-group-bg: $white !default;
$list-group-border-color: $gray-700 !default;
$list-group-hover-bg: $gray-700 !default;
$list-group-action-hover-color: $list-group-color !default;
$list-group-action-active-bg: $gray-900 !default;

// Breadcrumbs

$breadcrumb-padding-y: 0.375rem !default;
$breadcrumb-padding-x: 0.15rem !default;
// $breadcrumb-bg: $gray-700 !default;
// $breadcrumb-divider: quote(">");
$breadcrumb-divider-color: $gray-700;
$breadcrumb-color: $gray-700;
$breadcrumb-active-color: $primary;
// $breadcrumb-item-padding-x:1.2rem;
$breadcrumb-border-radius: 0.25rem !default;

// Close

$btn-close-color: $white !default;
$btn-close-opacity: 0.4 !default;
$btn-close-hover-opacity: 1 !default;

// Code
$carousel-control-color: $primary;


$toggle-default-size: 1.5rem;
$toggle-default-label-width: 4rem;
$toggle-default-font-size: .75rem;

@import "bootstrap/scss/bootstrap";
@import "./styles.css";
$pre-color: inherit !default;
.mx-6 {
  margin-right: 5rem !important;
  margin-left: 5rem !important;
}
//public class
.bg-image {
  padding: 40px;
}

.breadcrumb a {
  text-decoration: none;
  color: $gray-700;
}

.error-box {
  margin: 0 auto;
  max-width: 480px;
  padding: 1.875rem 0;
  text-align: center;
  width: 100%;

  h1 {
    color: var(--bs-primary);
    font-size: 10em;
  }

  p {
    margin-bottom: 1.875rem;
  }

  .btn {
    border-radius: 50px;
    font-size: 18px;
    font-weight: 600;
    min-width: 200px;
    padding: 10px 20px;
  }
}

.navbar-align {
  margin-inline-start: auto;
}

.navbar-align-end {
  margin-inline-end: auto;
  ;
}

.ps-btn,
button.ps-btn {
  display: inline-block;
  padding: 15px 30px;
  background-color: #593196;
  border: none;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.filter-dropdown {

  .dropdown-item {
    display: block;
    padding: 0.3rem 1.625rem;
    font-weight: 400;
    position: relative;
    text-decoration: none;
    cursor: pointer;
    border-left-style: solid;
    border-left-width: 3px;
    color: #222E3C;
    border-left-color: transparent;

    i {
      margin-right: .25rem !important;
      font-size: 13px;
    }
  }
}




.card-main {
  padding: 1rem;
}

h5 {
  font-size: 0.95rem;
  font-weight: 800;
}

section{
  padding-top: 3rem;
}
/** for cover header
*/
.page-header {
  padding-top: 13rem;
  padding-bottom: 13rem;
  background: url('./assets/images/bk/cover1 (2).jpg') center no-repeat;
  background-size: cover;
  width: 100%;
  height: 70dvh;
  position: relative;
  .intro-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: linear-gradient(to left bottom, rgba(40, 118, 219, 0.3), rgba(15, 105, 231, 0.3), rgba(33, 88, 240, 0.3), rgba(68, 65, 244, 0.3), rgba(102, 16, 242, 0.3));
  }
}

.multi-images {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(min(5rem, 100%), 1fr));
}

.badge-warning {
  background-color: #ffc107;
  color: #212529;
  border-radius: 12px;
}

.badge-success {
  background-color: #28a745;
  color: #fff;
  border-radius: 12px;
}

.badge-danger {
  background-color: #dc3545;
  color: #fff;
  border-radius: 12px;
}

//////////////////////////////////////////////////////////////////////////////////////notification
.nav-item {
  .indicator {
    background: $red;
    box-shadow: $box-shadow;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 18px;
    width: 18px;
    position: absolute;
    top: 0;
    right: -8px;
    text-align: center;
    transition: top .1s ease-out;
    font-size: 0.675rem;
    color: $white;
  }

  &:hover .indicator {
    top: -4px;
  }

  a:focus {
    outline: 0;
  }
}

.dropdown-toggle:after {
  border: solid;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  transform: rotate(45deg);
}

.nav-icon,
.nav-flag {
  padding: .1rem .8rem;
  display: block;
  font-size: 1.5rem;
  color: $gray-600;
  line-height: 1.4;

  text-decoration: none;

  &:after {
    display: none !important;
  }

  &:hover,
  &.active {
    color: $primary;
  }

  svg,
  .feather {
    width: 20px;
    height: 20px;
  }

  .fe {
    font-size: 16px;
    text-decoration: none;
  }
}

.dropdown-menu-header {
  padding: $spacer * 0.75;
  text-align: center;
  font-weight: $font-weight-bold;
  border-bottom: 1px solid $gray-300;
}

.dropdown .list-group .list-group-item {
  border-width: 0;
  border-bottom-width: 1px;
  margin-bottom: 0;

  &:first-child,
  &:last-child {
    border-radius: 0;
  }

  &:hover {
    background: $gray-100;
  }
}

.dropdown-menu-footer {
  padding: $spacer * 0.5;
  text-align: center;
  display: block;
  font-size: $font-size-sm;
}


.bg-c-blue {
  background: linear-gradient(45deg, $blue, $indigo);
}

.bg-c-indigo {
  background: linear-gradient(45deg, $purple, $indigo);
}

.bg-c-green {
  background: linear-gradient(45deg, $teal, $success);
}

.bg-c-yellow {
  background: linear-gradient(45deg, $yellow, $warning);
}

.bg-c-pink {
  background: linear-gradient(45deg, $pink, #ff869a);
}

.bg-c-red {
  background: linear-gradient(45deg, $red, $danger);
}

body[dir=ltr] .dropdown-menu {
  text-align: start !important;
  float: right !important;
  left: initial !important;
  right: 0 !important;
}

body[dir=rtl] .dropdown-menu {
  text-align: start !important;
  float: left !important;
  right: initial !important;
  left: 0 !important;
}


.product-card{
  width: 100%; }
 .img {
    width: 100%;
    height: 250px;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    -webkit-box-shadow: 0px 20px 35px -30px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0px 20px 35px -30px rgba(0, 0, 0, 0.26);
    box-shadow: 0px 20px 35px -30px rgba(0, 0, 0, 0.26);
    z-index: 0; }
   .img:after {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: '';
      z-index: -1;
      // background: rgba(255, 93, 177, 0);
      // background: -moz-linear-gradient(top, rgba(255, 93, 177, 0) 0%, rgba(148, 54, 103, 0) 42%, black 100%);
      // background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 93, 177, 0)), color-stop(42%, rgba(148, 54, 103, 0)), color-stop(100%, black));
      // background: -webkit-linear-gradient(top, rgba(255, 93, 177, 0) 0%, rgba(148, 54, 103, 0) 42%, black 100%);
      // background: -o-linear-gradient(top, rgba(255, 93, 177, 0) 0%, rgba(148, 54, 103, 0) 42%, black 100%);
      // background: -ms-linear-gradient(top, rgba(255, 93, 177, 0) 0%, rgba(148, 54, 103, 0) 42%, black 100%);
      // background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 93, 177, 0)), color-stop(42%, rgba(148, 54, 103, 0)), to(black));
      // background: linear-gradient(to bottom, rgba(255, 93, 177, 0) 0%, rgba(148, 54, 103, 0) 42%, black 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5db1', endColorstr='#000000', GradientType=0 );
      opacity: .6; }
 .text {
    padding: 35px;
    padding-top: 0; }
   .text h3 {
      font-size: 34px;
      font-weight: 400;
      font-family: "Playfair Display", serif;
      margin-bottom: 0; }
     .text h3 a {
        color: #fff; }
   .text .cat {
      font-size: 16px;
      color: $primary;
      font-weight: 400;
      background: rgba(255, 255, 255, 0.9);

      text-transform: capitalize;
      letter-spacing: 1px;
      display: inline-block;
      margin-bottom: 5px; }
