<header id="header" class="header fixed-top d-flex align-items-center" [ngClass]="{'mobile-nav-active': isCollapsed === true}">
  <div class="container d-flex align-items-center justify-content-between">
     <a routerLink="/" class="navbar-brand ms-4 ms-lg-0">
     <img   class="w-100" alt="Logo" [src]="'assets/images/logo.png'"
        loading="lazy"  >
     </a>
     <nav id="navbar" class="navbar navbar-expand-lg">
        <ul >
           <li>
              <a (click)="scrollToAnchor('intro')">{{'Home' | translate}}</a>
           </li>
           <li>
              <a (click)="scrollToAnchor('About_Us')">{{'about_us'| translate}}</a>
           </li>
           <li>
              <a (click)="scrollToAnchor('Service')">{{'services'| translate}}</a>
           </li>
           <li class="dropdown">
              <a
              (click)="isChangeSelected('Marble')"
              [ngClass]="isSelected === 'Marble' ? 'active' : ''"
              data-bs-toggle="dropdown">{{'Marble'| translate}}
              <i class="bi bi-chevron-down dropdown-indicator pe-2"></i>
              </a>
              <ul [ngClass]="isSelected === 'Marble' ? 'dropdown-active' : ''">
                 <li *ngFor="let marbel of marbelList">
                    <a
                    [routerLink]="['/Product']"
                    [queryParams]="{ productId: marbel.id , productType:marbel.specification.type}"
                    class="dropdown-item">{{currentLanguage === "en" ?  marbel.name : marbel.nameAr}}</a>
                 </li>
              </ul>
           </li>
           <li class="dropdown">
              <a
              id="Granite"
              aria-haspopup="true" aria-expanded="false"
              (click)="isChangeSelected('Granite')"
              [ngClass]="isSelected === 'Granite' ? 'active' : ''"
              data-bs-toggle="dropdown">{{'Granite'| translate}}
              <i class="bi bi-chevron-down dropdown-indicator pe-2"></i>
              </a>
              <ul [ngClass]="isSelected === 'Granite' ? 'dropdown-active' : ''"
              >
           <li *ngFor="let granite of graniteList">
              <a
              [routerLink]="['/Product']"
              [queryParams]="{ productId: granite.id , productType:granite.specification.type}"
              class="dropdown-item">{{currentLanguage === "en" ? granite.name : granite.nameAr}}</a>
           </li>
        </ul>
        </li>
        <li class="dropdown">
           <a  (click)="isChangeSelected('Splite_Face')"
           data-bs-toggle="dropdown"
           [ngClass]="isSelected === 'Splite_Face' ? 'active' : ''"
           >{{'Splite_Face'| translate}}
           <i class="bi bi-chevron-down dropdown-indicator pe-2"></i>
           </a>
           <ul  [ngClass]="isSelected === 'Splite_Face' ? 'dropdown-active' : ''">
              <li  *ngFor="let stone of stonesList">
                 <a
                 [routerLink]="['/Product']"
                 [queryParams]="{ productId: stone.id , productType:stone.specification.type}"
                 class="dropdown-item">{{currentLanguage === "en" ? stone.name : stone.nameAr}}</a>
              </li>
           </ul>
        </li>
        <li class="dropdown">
           <a (click)="isChangeSelected('Packing')"
           [ngClass]="isSelected === 'Splite_Face' ? 'active' : ''"
           data-bs-toggle="dropdown">
           {{'Packing'| translate}}
           <i class="bi bi-chevron-down dropdown-indicator pe-2"></i>
           </a>
           <ul  [ngClass]="isSelected === 'Packing' ? 'dropdown-active' : ''">
              <li *ngFor="let packing of packingList">
                 <a
                 [routerLink]="['/Packing']"
                 [queryParams]="{ packing: packing.heading}"
                 class="dropdown-item">{{currentLanguage === "en" ? packing.heading : packing.headingAr}}</a>
              </li>
           </ul>
        </li>
        <li>
          <a routerLink="/Contact-US" class="nav-item nav-link">{{'Contact_Us'| translate}}</a>

        </li>
        <li class="dropdown me-3">
          <a (click)="isChangeSelected('Language')">
          <img src="assets/images/flags/{{ currentLanguage }}.png" alt="" height="16" class="px-2" />
           <span>{{ currentLanguage === "ar" ? ("Arabic" | translate) : ("English" | translate) }}</span>
          <i class="bi bi-chevron-down dropdown-indicator pe-2"></i>
          </a>
          <ul [ngClass]="isSelected === 'Language' ? 'dropdown-active' : ''">
             <li *ngFor="let lang of languageList">
              <a
              class="dropdown-item d-flex"
              [attr.disabled]="currentLanguage === lang.value ? true : false"
              (click)="changeLanguage(lang.value)">
              <img
                 [src]="lang.image"
                 alt="{{ lang.name }}"
                 height="16"
                 class="px-2" />
              {{ lang.name | translate }}
              </a>
             </li>
          </ul>
       </li>

        </ul>
     </nav>
     <button type="button" class="navbar-toggler me-4"
        data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
        (click)="onToggleMenu()"
        >
        <i *ngIf="!isCollapsed" class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i *ngIf="isCollapsed" class="mobile-nav-toggle mobile-nav-hide  bi bi-x"></i>
        <!-- <span class="navbar-toggler-icon"></span> -->
     </button>
  </div>
</header>
